<section class="container py-4">
  <div class="row">
    <div class="col-md-12">
      <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item">
          <a
            href=""
            data-target="#home1"
            data-toggle="tab"
            class="nav-link small text-uppercase active"
            >Mis datos</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            data-target="#profile1"
            data-toggle="tab"
            class="nav-link small text-uppercase"
            >Mis pedidos</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            data-target="#messages1"
            data-toggle="tab"
            class="nav-link small text-uppercase"
            >Seguridad</a
          >
        </li>
      </ul>
      <br />
      <div id="tabsContent" class="tab-content">
        <div id="home1" class="tab-pane fade active show">
          <div class="row" id="home1">
            <div class="col-xl-4">
              <!-- Profile picture card-->
              <div class="card mb-4 mb-xl-0">
                <div class="card-header"> Imagen de perfil </div>
                <div class="card-body text-center">
                  <!-- Profile picture image-->
                  <img
                    class="img-account-profile rounded-circle mb-2"
                    src="http://bootdey.com/img/Content/avatar/avatar1.png"
                    alt=""
                  />
                  <!-- Profile picture help block-->
                  <div class="small font-italic text-muted mb-4">
                    Formato JPG o PNG , No mayor a 5 MB.
                  </div>
                  <!-- Profile picture upload button-->
                  <button class="btn btn-primary" type="button">
                    Adjuntar imagen
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <!-- Account details card-->
              <div class="card mb-4">
                <div class="card-header">Detalle de mis cuentas </div>
                <div class="card-body">
                  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                    <!-- Form Group (username)-->
                    <div class="mb-3">
                      <label class="small mb-1" for="inputUsername"
                        >Correo electronico (how your name will appear to other users on
                        the site)</label
                      >
                      <div
                        class="form-group form-animate-text"
                        [ngClass]="{'form-animate-error': submitted && f.username.errors}"
                      >
                        <input
                          type="text"
                          [attr.disabled]="true"
                          class="form-control"
                          formControlName="username"
                          name="username"
                          autocomplete="on"
                          placeholder="Correo electronico" 
                          [(ngModel)]="currentUsername && currentUsername!.username"
                          required
                        />
                        <div
                          *ngIf="submitted && f.username.errors"
                          class="invalid-feedback d-block"
                        >
                          <div *ngIf="f.username.errors.required">
                            El correo electronico es requerido
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                      <!-- Form Group (first name)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="inputFirstName"
                          > Nombres (s) </label
                        >
                        <div
                        class="form-group form-animate-text"
                        [ngClass]="{'form-animate-error': submitted && f.names.errors}"
                      >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="names"
                          name="names"
                          autocomplete="on"
                          placeholder="Correo electronico" 
                          [(ngModel)]="currentUsername && currentUsername!.names"
                          required
                        />
                        <div
                          *ngIf="submitted && f.names.errors"
                          class="invalid-feedback d-block"
                        >
                          <div *ngIf="f.names.errors.required">
                            El nombre (s) es requerido
                          </div>
                        </div>
                      </div>
                      </div>
                      <!-- Form Group (last name)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName"
                          > Apellidos (s) </label
                        >
                        <div
                        class="form-group form-animate-text"
                        [ngClass]="{'form-animate-error': submitted && f.surnames.errors}"
                      >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="surnames"
                          name="surnames"
                          autocomplete="on"
                          placeholder="Correo electronico" 
                          [(ngModel)]="currentUsername && currentUsername!.surnames"
                          required
                        />
                        <div
                          *ngIf="submitted && f.surnames.errors"
                          class="invalid-feedback d-block"
                        >
                          <div *ngIf="f.surnames.errors.required">
                            El apellido (s) es requerido
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                    <!-- Form Row        -->

                    <!-- Form Group (email address)-->
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputEmailAddress"
                            > Número de telefono</label
                          >
                          <div
                          class="form-group form-animate-text"
                          [ngClass]="{'form-animate-error': submitted && f.numberPhone.errors}"
                          >
                          <input
                            type="number"
                            class="form-control"
                            formControlName="numberPhone"
                            name="numberPhone"
                            autocomplete="on"
                            placeholder="Número telefonico" 
                            [(ngModel)]="currentUsername && currentUsername!.numberPhone"
                            required
                          />
                          <div
                            *ngIf="submitted && f.numberPhone.errors"
                            class="invalid-feedback d-block"
                          >
                            <div *ngIf="f.numberPhone.errors.required">
                              El número telefonico es requerido
                            </div>
                          </div>
                        </div>
               
                        </div>
                  

                        <div class="col-md-6">
                            <label class="small mb-1" for="inputEmailAddress"
                            > Estado</label
                          >
                          <div
                          class="form-group form-animate-text"
                          [ngClass]="{'form-animate-error': submitted && f.state.errors}"
                          >
                          <input
                            type="text"
                            class="form-control"
                            formControlName="state"
                            name="state"
                            autocomplete="on"
                            placeholder="Estado" 
                            required
                          />
                          <div
                            *ngIf="submitted && f.state.errors"
                            class="invalid-feedback d-block"
                          >
                            <div *ngIf="f.state.errors.required">
                                La ubicación es requerida
                            </div>
                          </div>
                        </div>
               
                        </div>
                  


                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                      <!-- Form Group (phone number)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="inputPhone"> Genero </label>
                      <div class="form-group form-animate-text" [ngClass]="{'form-animate-error': submitted && f.gender.errors}" >
                      <div
                        class="form-group form-animate-text"
                        [ngClass]="{'form-animate-error': submitted && f.gender.errors}"
                      >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="gender"
                          name="gender"
                          autocomplete="on"
                          placeholder="Correo electronico" 
                          [(ngModel)]="currentUsername && currentUsername!.gender"
                          required
                        />
                        <div
                          *ngIf="submitted && f.gender.errors"
                          class="invalid-feedback d-block"
                        >
                          <div *ngIf="f.gender.errors.required">
                            El genero es requerido
                          </div>
                        </div>
                      </div>

                      </div>
                      </div>


                      <!-- Form Group (birthday)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="inputBirthday">Fecha de nacimiento</label>
                        <div
                        class="form-group form-animate-text"
                        [ngClass]="{'form-animate-error': submitted && f.dateOfBirth.errors}"
                      >
                        <input
                          type="date"
                          class="form-control"
                          formControlName="dateOfBirth"
                          name="dateOfBirth"
                          autocomplete="on"
                          placeholder="Correo electronico" 
                          [(ngModel)]="currentUsername && currentUsername!.dateOfBirth"
                          required
                        />
                        <div
                          *ngIf="submitted && f.dateOfBirth.errors"
                          class="invalid-feedback d-block"
                        >
                          <div *ngIf="f.dateOfBirth.errors.required">
                            El correo electronico es requerido
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                    <!-- Save changes button-->
                    <button type="submit" name="button" class="btn btn-primary">
                      Actualizar perfil
                    </button>


                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>


        <div id="profile1" class="tab-pane fade">
          <div>
            <div class="row">
              <div class="col-lg-4 mb-4">
                <!-- Billing card 1-->
                <div class="card h-100 border-start-lg border-start-primary">
                  <div class="card-body">
                    <div class="small text-muted">Current monthly bill</div>
                    <div class="h3">$20.00</div>
                    <a class="text-arrow-icon small" href="#!">
                      Switch to yearly billing
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right"
                      >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <!-- Billing card 2-->
                <div class="card h-100 border-start-lg border-start-secondary">
                  <div class="card-body">
                    <div class="small text-muted">Next payment due</div>
                    <div class="h3">July 15</div>
                    <a class="text-arrow-icon small text-secondary" href="#!">
                      View payment history
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right"
                      >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <!-- Billing card 3-->
                <div class="card h-100 border-start-lg border-start-success">
                  <div class="card-body">
                    <div class="small text-muted">Current plan</div>
                    <div class="h3 d-flex align-items-center">Freelancer</div>
                    <a class="text-arrow-icon small text-success" href="#!">
                      Upgrade plan
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right"
                      >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Billing history card-->
            <div class="card mb-4">
              <div class="card-header">Billing History</div>
              <div class="card-body p-0">
                <!-- Billing history table-->
                <div class="table-responsive table-billing-history">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th class="border-gray-200" scope="col">
                          Transaction ID
                        </th>
                        <th class="border-gray-200" scope="col">Date</th>
                        <th class="border-gray-200" scope="col">Amount</th>
                        <th class="border-gray-200" scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>#39201</td>
                        <td>06/15/2021</td>
                        <td>$29.99</td>
                        <td>
                          <span class="badge bg-light text-dark">Pending</span>
                        </td>
                      </tr>
                      <tr>
                        <td>#38594</td>
                        <td>05/15/2021</td>
                        <td>$29.99</td>
                        <td><span class="badge bg-success">Paid</span></td>
                      </tr>
                      <tr>
                        <td>#38223</td>
                        <td>04/15/2021</td>
                        <td>$29.99</td>
                        <td><span class="badge bg-success">Paid</span></td>
                      </tr>
                      <tr>
                        <td>#38125</td>
                        <td>03/15/2021</td>
                        <td>$29.99</td>
                        <td><span class="badge bg-success">Paid</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div id="messages1" class="tab-pane fade">
          <div class="row">
            <div class="col-lg-8">
              <!-- Change password card-->
              <div class="card mb-4">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                  <form>
                    <!-- Form Group (current password)-->
                    <div class="mb-3">
                      <label class="small mb-1" for="currentPassword"
                        >Current Password</label
                      >
                      <input
                        class="form-control"
                        id="currentPassword"
                        type="password"
                        placeholder="Enter current password"
                      />
                    </div>
                    <!-- Form Group (new password)-->
                    <div class="mb-3">
                      <label class="small mb-1" for="newPassword"
                        >New Password</label
                      >
                      <input
                        class="form-control"
                        id="newPassword"
                        type="password"
                        placeholder="Enter new password"
                      />
                    </div>
                    <!-- Form Group (confirm password)-->
                    <div class="mb-3">
                      <label class="small mb-1" for="confirmPassword"
                        >Confirm Password</label
                      >
                      <input
                        class="form-control"
                        id="confirmPassword"
                        type="password"
                        placeholder="Confirm new password"
                      />
                    </div>
                    <button class="btn btn-primary" type="button">Save</button>
                  </form>
                </div>
              </div>
              <!-- Security preferences card-->
              <div class="card mb-4">
                <div class="card-header">Security Preferences</div>
                <div class="card-body">
                  <!-- Account privacy optinos-->
                  <h5 class="mb-1">Account Privacy</h5>
                  <p class="small text-muted">
                    By setting your account to private, your profile information
                    and posts will not be visible to users outside of your user
                    groups.
                  </p>
                  <form>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        id="radioPrivacy1"
                        type="radio"
                        name="radioPrivacy"
                        checked=""
                      />
                      <label class="form-check-label" for="radioPrivacy1"
                        >Public (posts are available to all users)</label
                      >
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        id="radioPrivacy2"
                        type="radio"
                        name="radioPrivacy"
                      />
                      <label class="form-check-label" for="radioPrivacy2"
                        >Private (posts are available to only users in your
                        groups)</label
                      >
                    </div>
                  </form>
                  <hr class="my-4" />
                  <!-- Data sharing options-->
                  <h5 class="mb-1">Data Sharing</h5>
                  <p class="small text-muted">
                    Sharing usage data can help us to improve our products and
                    better serve our users as they navigation through our
                    application. When you agree to share usage data with us,
                    crash reports and usage analytics will be automatically sent
                    to our development team for investigation.
                  </p>
                  <form>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        id="radioUsage1"
                        type="radio"
                        name="radioUsage"
                        checked=""
                      />
                      <label class="form-check-label" for="radioUsage1"
                        >Yes, share data and crash reports with app
                        developers</label
                      >
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        id="radioUsage2"
                        type="radio"
                        name="radioUsage"
                      />
                      <label class="form-check-label" for="radioUsage2"
                        >No, limit my data sharing with app developers</label
                      >
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <!-- Delete account card-->
              <div class="card mb-4">
                <div class="card-header">Delete Account</div>
                <div class="card-body">
                  <p>
                    Deleting your account is a permanent action and cannot be
                    undone. If you are sure you want to delete your account,
                    select the button below.
                  </p>
                  <button class="btn btn-danger-soft text-danger" type="button">
                    I understand, delete my account
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>
