
<nz-spin [nzSpinning]="isSpinning">

  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">

    <p class="presentacion-title"><span class="welcome">¿Deseas restablecer tu contraseña? ,</span> Ingresa tu correo electronico vigente:  </p>
      
    <nz-form-item class="input-content">
        <nz-form-control nzHasFeedback nzErrorTip="El correo escrito no es correcto!">
          <nz-input-group nzPrefixIcon="email">
            <input type="email" nzSize="large" nz-input formControlName="email" placeholder="Ingresa tu correo electronico" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>



      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="24">
          <a class="login-form-forgot"  routerLink="/auth/login" > Iniciar sesión </a>
        </div>
      </div>

      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"> Enviar correo </button>
      
    <div>
      <p class="text-in"  routerLink="/auth/login"  > Volver al inicio de sesión </p>
    </div>
  
    </form>

</nz-spin>
