<nz-spin [nzSpinning]="isSpinning">
  
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">

  <p class="presentacion-title"><span class="welcome">Bienvenido</span>, Ingresa tus datos para iniciar sesión: </p>

    <nz-form-item class="input-content">
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nzSize="large" nz-input formControlName="username" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="input-content" > 
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span> Recordar mi usuario </span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot" routerLink="/auth/recovery-password">¿Olvidaste tu contraseña? </a>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"> Iniciar sesión </button>
    
  <div>
    <!-- <p class="text-in" routerLink="/register" >¿Eres nuevo?</p> -->
    <a class="text-in" routerLink="/auth/register" > ¿Deseas registrarte? </a>
  </div>

  
  </form>

</nz-spin>