<app-navbar></app-navbar>


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://www.charly.com/dw/image/v2/BCQM_PRD/on/demandware.static/-/Library-Sites-charly-content-global/default/dw456efb2d/JERSEYSCLAUSURACHARLY_2022_686.jpg?sw=1920&sh=686&sm=fit" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://www.charly.com/dw/image/v2/BCQM_PRD/on/demandware.static/-/Library-Sites-charly-content-global/default/dwacbdee45/ALTERNOS_AAA_2021_2021_686.jpg?sw=1920&sh=686&sm=fit" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://www.charly.com/dw/image/v2/BCQM_PRD/on/demandware.static/-/Library-Sites-charly-content-global/default/dwd48275b3/ROPADEGIGINAC_PROMO_GIGNAC2021_686.jpg?sw=1920&sh=686&sm=fit" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  
  
  
  <section class="category">
  
    <h1 class="heading"> shop by <span>category</span> </h1>
  
    <div class="box-container">
  
        <div class="box">
            <img src="https://img.ltwebstatic.com/images3_ach/2022/01/10/16417990219f561b052a2bce344b5fb6be7dbd67b7.jpg" alt="">
            <div class="content">
                <span>upto 50% off</span>
                <h3>for womans</h3>
                <a href="#" class="btn">shop now</a>
            </div>
        </div>
  
        <div class="box">
            <img src="https://img.ltwebstatic.com/images3_ach/2021/11/03/163592787974fb86856cda663a2dac9e5ec45e9b62.jpg" alt="">
            <div class="content">
                <span>upto 50% off</span>
                <h3>for mans</h3>
                <a href="#" class="btn">shop now</a>
            </div>
        </div>
  
      <div class="box">
          <img src="https://img.ltwebstatic.com/images3_ach/2022/01/10/1641798996256001c19738fc65a1a573b96605cc8a.jpg" alt="">
          <div class="content">
              <span>upto 50% off</span>
              <h3>for mans</h3>
              <a href="#" class="btn">shop now</a>
          </div>
      </div>  
    </div>
  
  </section>
  
  
  <section class="pt-2 pb-2">
  
    <h1 class="heading"> shop by <span>category</span> </h1>
  
  
    <div class="products">
      <div class="row">
          <div class="col-6">
              <h3 class="mb-3">Carousel cards title </h3>
          </div>
          <div class="col-6 text-right">
              <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left"></i>
              </a>
              <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
              </a>
          </div>
          <div class="col-12">
              <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
  
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row">
  
                              <div class="col-md-4 mb-3">
                                <div class="card">
                                  <img class="card-img" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/acdde152-f911-4620-8bc8-1c13f60ee7de/calzado-de-f%C3%BAtbol-para-terreno-firme-phantom-gt2-elite-fg-6H4wRT.png" alt="Vans">
                                  <div class="card-img-overlay d-flex justify-content-end">
                                    <a href="#" class="card-link text-danger like">
                                      <i class="fas fa-heart"></i>
                                    </a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                                    <p class="card-text">
                                      The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the elements whilst still looking cool.             </p>
                                    <div class="options d-flex flex-fill">
                                       <select class="custom-select mr-1">
                                          <option selected>Color</option>
                                          <option value="1">Green</option>
                                          <option value="2">Blue</option>
                                          <option value="3">Red</option>
                                      </select>
                                      <select class="custom-select ml-1">
                                          <option selected>Size</option>
                                          <option value="1">41</option>
                                          <option value="2">42</option>
                                          <option value="3">43</option>
                                      </select>
                                    </div>
                                    <div class="buy d-flex justify-content-between align-items-center">
                                      <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                                       <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <div class="card">
                                  <img class="card-img" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/bc0b7650-3f96-4ed4-9f28-53c9ae7399b4/calzado-de-f%C3%BAtbol-para-terreno-firme-mercurial-superfly-8-elite-cr7-fg-Mh1nPj.png" alt="Vans">
                                  <div class="card-img-overlay d-flex justify-content-end">
                                    <a href="#" class="card-link text-danger like">
                                      <i class="fas fa-heart"></i>
                                    </a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                                    <p class="card-text">
                                      The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the elements whilst still looking cool.             </p>
                                    <div class="options d-flex flex-fill">
                                       <select class="custom-select mr-1">
                                          <option selected>Color</option>
                                          <option value="1">Green</option>
                                          <option value="2">Blue</option>
                                          <option value="3">Red</option>
                                      </select>
                                      <select class="custom-select ml-1">
                                          <option selected>Size</option>
                                          <option value="1">41</option>
                                          <option value="2">42</option>
                                          <option value="3">43</option>
                                      </select>
                                    </div>
                                    <div class="buy d-flex justify-content-between align-items-center">
                                      <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                                       <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <div class="card">
                                  <img class="card-img" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/0870572e-ca17-4d6f-8b1a-2e86a638ca49/calzado-de-f%C3%BAtbol-para-terreno-firme-phantom-gt2-dynamic-fit-elite-fg-m1cFn0.png" alt="Vans">
                                  <div class="card-img-overlay d-flex justify-content-end">
                                    <a href="#" class="card-link text-danger like">
                                      <i class="fas fa-heart"></i>
                                    </a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                                    <p class="card-text">
                                      The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the elements whilst still looking cool.             </p>
                                    <div class="options d-flex flex-fill">
                                       <select class="custom-select mr-1">
                                          <option selected>Color</option>
                                          <option value="1">Green</option>
                                          <option value="2">Blue</option>
                                          <option value="3">Red</option>
                                      </select>
                                      <select class="custom-select ml-1">
                                          <option selected>Size</option>
                                          <option value="1">41</option>
                                          <option value="2">42</option>
                                          <option value="3">43</option>
                                      </select>
                                    </div>
                                    <div class="buy d-flex justify-content-between align-items-center">
                                      <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                                       <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
  
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row">
  
                              <div class="col-md-4 mb-3">
                                <div class="card">
                                  <img class="card-img" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/bdb9af6b-24e3-40df-b843-4e7a51a33833/calzado-de-running-en-carretera-revolution-6-next-nature-w6NVbd.png" alt="Vans">
                                  <div class="card-img-overlay d-flex justify-content-end">
                                    <a href="#" class="card-link text-danger like">
                                      <i class="fas fa-heart"></i>
                                    </a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                                    <p class="card-text">
                                      The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the elements whilst still looking cool.             </p>
                                    <div class="options d-flex flex-fill">
                                       <select class="custom-select mr-1">
                                          <option selected>Color</option>
                                          <option value="1">Green</option>
                                          <option value="2">Blue</option>
                                          <option value="3">Red</option>
                                      </select>
                                      <select class="custom-select ml-1">
                                          <option selected>Size</option>
                                          <option value="1">41</option>
                                          <option value="2">42</option>
                                          <option value="3">43</option>
                                      </select>
                                    </div>
                                    <div class="buy d-flex justify-content-between align-items-center">
                                      <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                                       <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <div class="card">
                                  <img class="card-img" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/e1a47258-2d88-43ec-af27-6929c10bb702/calzado-de-carrera-en-carretera-air-zoom-alphafly-next-mGK8M0.png" alt="Vans">
                                  <div class="card-img-overlay d-flex justify-content-end">
                                    <a href="#" class="card-link text-danger like">
                                      <i class="fas fa-heart"></i>
                                    </a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                                    <p class="card-text">
                                      The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the elements whilst still looking cool.             </p>
                                    <div class="options d-flex flex-fill">
                                       <select class="custom-select mr-1">
                                          <option selected>Color</option>
                                          <option value="1">Green</option>
                                          <option value="2">Blue</option>
                                          <option value="3">Red</option>
                                      </select>
                                      <select class="custom-select ml-1">
                                          <option selected>Size</option>
                                          <option value="1">41</option>
                                          <option value="2">42</option>
                                          <option value="3">43</option>
                                      </select>
                                    </div>
                                    <div class="buy d-flex justify-content-between align-items-center">
                                      <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                                       <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <div class="card">
                                  <img class="card-img" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/f455c542-e69d-49b0-8de5-cf1e4e1c8099/calzado-de-running-en-carretera-react-infinity-run-flyknit-2-QTGr9C.png" alt="Vans">
                                  <div class="card-img-overlay d-flex justify-content-end">
                                    <a href="#" class="card-link text-danger like">
                                      <i class="fas fa-heart"></i>
                                    </a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                                    <p class="card-text">
                                      The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the elements whilst still looking cool.             </p>
                                    <div class="options d-flex flex-fill">
                                       <select class="custom-select mr-1">
                                          <option selected>Color</option>
                                          <option value="1">Green</option>
                                          <option value="2">Blue</option>
                                          <option value="3">Red</option>
                                      </select>
                                      <select class="custom-select ml-1">
                                          <option selected>Size</option>
                                          <option value="1">41</option>
                                          <option value="2">42</option>
                                          <option value="3">43</option>
                                      </select>
                                    </div>
                                    <div class="buy d-flex justify-content-between align-items-center">
                                      <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                                       <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
  
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row">
  
                              <div class="col-md-4 mb-3">
                                <div class="card">
                                  <img class="card-img" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/98e71bc0-c9f4-4f3e-ac5f-c73bdd9a836f/calzado-de-running-de-carretera-air-zoom-pegasus-38-FGw5Ll.png" alt="Vans">
                                  <div class="card-img-overlay d-flex justify-content-end">
                                    <a href="#" class="card-link text-danger like">
                                      <i class="fas fa-heart"></i>
                                    </a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                                    <p class="card-text">
                                      The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the elements whilst still looking cool.             </p>
                                    <div class="options d-flex flex-fill">
                                       <select class="custom-select mr-1">
                                          <option selected>Color</option>
                                          <option value="1">Green</option>
                                          <option value="2">Blue</option>
                                          <option value="3">Red</option>
                                      </select>
                                      <select class="custom-select ml-1">
                                          <option selected>Size</option>
                                          <option value="1">41</option>
                                          <option value="2">42</option>
                                          <option value="3">43</option>
                                      </select>
                                    </div>
                                    <div class="buy d-flex justify-content-between align-items-center">
                                      <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                                       <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <div class="card">
                                  <img class="card-img" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/7d651f55-de96-4916-8062-82a72c7a1a6a/calzado-de-running-de-carretera-air-zoom-vomero-16-wvdS5m.png" alt="Vans">
                                  <div class="card-img-overlay d-flex justify-content-end">
                                    <a href="#" class="card-link text-danger like">
                                      <i class="fas fa-heart"></i>
                                    </a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                                    <p class="card-text">
                                      The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the elements whilst still looking cool.             </p>
                                    <div class="options d-flex flex-fill">
                                       <select class="custom-select mr-1">
                                          <option selected>Color</option>
                                          <option value="1">Green</option>
                                          <option value="2">Blue</option>
                                          <option value="3">Red</option>
                                      </select>
                                      <select class="custom-select ml-1">
                                          <option selected>Size</option>
                                          <option value="1">41</option>
                                          <option value="2">42</option>
                                          <option value="3">43</option>
                                      </select>
                                    </div>
                                    <div class="buy d-flex justify-content-between align-items-center">
                                      <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                                       <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                   <div class="card">
                                  <img class="card-img" src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/ee523846-b2f6-44ca-9d05-72d423591ac8/calzado-de-f%C3%BAtbol-para-terreno-firme-mercurial-superfly-8-elite-fg-fPFGNk.png" alt="Vans">
                                  <div class="card-img-overlay d-flex justify-content-end">
                                    <a href="#" class="card-link text-danger like">
                                      <i class="fas fa-heart"></i>
                                    </a>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                                    <p class="card-text">
                                      The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the elements whilst still looking cool.             </p>
                                    <div class="options d-flex flex-fill">
                                       <select class="custom-select mr-1">
                                          <option selected>Color</option>
                                          <option value="1">Green</option>
                                          <option value="2">Blue</option>
                                          <option value="3">Red</option>
                                      </select>
                                      <select class="custom-select ml-1">
                                          <option selected>Size</option>
                                          <option value="1">41</option>
                                          <option value="2">42</option>
                                          <option value="3">43</option>
                                      </select>
                                    </div>
                                    <div class="buy d-flex justify-content-between align-items-center">
                                      <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                                       <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>
  
  
  <section class="service">
  
    <div class="box-container">
  
        <div class="box">
            <i class="fas fa-shipping-fast"></i>
            <h3>fast delivery</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, fugit.</p>
        </div>
  
        <div class="box">
            <i class="fas fa-undo"></i>
            <h3>10 days replacements</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, fugit.</p>
        </div>
  
        <div class="box">
            <i class="fas fa-headset"></i>
            <h3>24 x 7 support</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, fugit.</p>
        </div>
  
    </div>
  
  </section>
  
  <!-- 
  <section class="social-section-videos">
  
    <div class="social-video">
      <iframe  src="https://www.youtube-nocookie.com/embed/saei5MwyL08" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="video"></iframe>  
    </div>
  
    
    <div class="social-video">
      <iframe  src="https://www.youtube-nocookie.com/embed/saei5MwyL08" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="video"></iframe>  
    </div>
  
  </section> -->
  
  
  <div class="subscribe">
      <h2 class="subscribe__title">Let's keep in touch</h2>
      <p class="subscribe__copy">Subscribe to keep up with fresh news and exciting updates. We promise not to spam you!</p>
      <div class="form">
          <input type="email" class="form__email" placeholder="Enter your email address" />
          <button class="form__button">Send</button>
      </div>
      <div class="notice">
          <input type="checkbox">
          <span class="notice__copy">I agree to my email address being stored and uses to recieve monthly newsletter.</span>
      </div>
  </div>
  

<app-footer></app-footer>
  