
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="osahan-account-page-left shadow-sm bg-white h-100">
                <div class="border-bottom p-4">
                    <div class="osahan-user text-center">
                        <div class="osahan-user-media">
                            <img class="mb-3 rounded-pill shadow-sm mt-1" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="gurdeep singh osahan">
                            <div class="osahan-user-media-body">
                                <h6 class="mb-2">John Doe</h6>
                                <p class="mb-1">+91 85680-79956</p>
                                <p>bootdey@bootdey.com</p>
                                <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#edit-profile-modal" routerLink="/my-profile"><i class="icofont-ui-edit"></i> Editar</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade  active show" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
                        <h4 class="font-weight-bold mt-0 mb-4"> Mis productos  </h4>
                        <div class="row">
                          
                            <div class="col-sm-6 col-md-4"  *ngFor="let item of lstProducts">
                                <div class="shop__thumb">
                                  <a href="#">
                                    <div class="shop-thumb__img">
                                      <img src="https://via.placeholder.com/400x400/87CEFA/000000" class="img-responsive" alt="...">
                                    </div>
                                    <h5 class="shop-thumb__title">
                                      Product Title
                                    </h5>
                                    <div class="shop-thumb__price">
                                        <span class="d-block mb-3 font-size-xs text-muted"> Compralo desde: <span class="font-weight-semibold">$59.99</span></span>
                                    </div>
                                    
                                    <div class="shop-thumb__price">
                                        <a class="btn btn-pill btn-outline-primary btn-sm" routerLink="/product/2"> Comprar </a>
                                    </div>


                                  </a>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>