<section class="container py-4">
  <div class="row">
    <div class="col-md-12">
      <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item">
          <a
            href=""
            data-target="#home1"
            data-toggle="tab"
            class="nav-link small active"
            >Detalles</a
          >
        </li>

        <li class="nav-item">
          <a
            href=""
            data-target="#profile1"
            data-toggle="tab"
            class="nav-link small"
            >Productos</a
          >
        </li>
      </ul>
      <br />
      <div id="tabsContent" class="tab-content">
        <div id="home1" class="tab-pane fade active show">
          <div class="container">
            <div class="col-md-12">
              <div class="invoice">
                <!-- begin invoice-company -->
                <div class="invoice-company text-inverse f-w-600">
                  <span class="pull-right hidden-print">
                    <a
                      href="javascript:;"
                      class="btn btn-sm btn-white m-b-10 p-l-5"
                      ><i
                        class="fa fa-file t-plus-1 text-danger fa-fw fa-lg"
                      ></i>
                      Export as PDF</a
                    >
                    <a
                      href="javascript:;"
                      onclick="window.print()"
                      class="btn btn-sm btn-white m-b-10 p-l-5"
                      ><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> Print</a
                    >
                  </span>
                  Company Name, Inc
                </div>
                <!-- end invoice-company -->
                <!-- begin invoice-header -->
                <div class="invoice-header">
                  <div class="invoice-from">
                    <small>Datos de entrega:</small>
                    <address class="m-t-5 m-b-5">
                      <strong class="text-inverse">
                        Recibe: Gabriel Adrian Juarez De la cruz</strong
                      ><br />
                      Calle: Manuel. M.<br />
                      Cd. Del Carmen, 24154<br />
                      Phone: 9381219330<br />
                      No. Ext: N/A <br />
                      No. Int: N/A <br />
                    </address>
                  </div>

                  <div class="invoice-date">
                    <small>Fecha de entrega</small>
                    <div class="date text-inverse m-t-5">
                      14 de Febrero 2022
                    </div>
                    <div class="invoice-detail">
                      #0000123DSS<br />
                      Enviado por: DHL Express<br />
                      Estatus: En curso<br />
                    </div>
                  </div>
                </div>
                <!-- end invoice-header -->
                <!-- begin invoice-content -->
                <div class="invoice-content">
                  <!-- begin table-responsive -->
                  <div class="table-responsive">
                    <table class="table table-invoice">
                      <thead>
                        <tr>
                          <th>Descripción de costos</th>
                          <th class="text-center" width="10%">Costo</th>
                          <th class="text-right" width="20%">Subtotal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <span class="text-inverse">Compra total</span><br />
                            <small
                              >El costo total de los productos adquiridos
                            </small>
                          </td>
                          <td class="text-center">50</td>
                          <td class="text-right">$2,500.00</td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-inverse">Descuento</span><br />
                            <small>El total en descuentos acumulado. </small>
                          </td>
                          <td class="text-center">40</td>
                          <td class="text-right">$2,000.00</td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-inverse">IVA (16%)</span><br />
                            <small
                              >El impuesto derivado por parte del tipo de
                              producto.</small
                            >
                          </td>
                          <td class="text-center">50</td>
                          <td class="text-right">$2,500.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- end table-responsive -->
                  <!-- begin invoice-price -->
                  <div class="invoice-price">
                    <div class="invoice-price-left">
                      <div class="invoice-price-row">
                        <div class="sub-price">
                          <small>SUBTOTAL</small>
                          <span class="text-inverse">$4,500.00</span>
                        </div>
                        <div class="sub-price">
                          <i class="fa fa-plus text-muted"></i>
                        </div>
                        <div class="sub-price">
                          <small>IVA (16%)</small>
                          <span class="text-inverse">$108.00</span>
                        </div>
                      </div>
                    </div>
                    <div class="invoice-price-right">
                      <small>TOTAL</small> <span class="f-w-600">$4508.00</span>
                    </div>
                  </div>
                  <!-- end invoice-price -->
                </div>
                <!-- end invoice-content -->
                <!-- begin invoice-note -->
                <div class="invoice-note">
                  * ¿Algún dato esta incorrecto? [9381283932]<br />
                  * No aplica devoluciones, ni reembolsos <br />
                  * ¿No has recibido aun tu producto? [9381233031]
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="profile1" class="tab-pane fade">
          <div class="text-center">
            <!-- <h2>Mis pedidos</h2> -->
            <p class="lead">Productos relacionados al pedido</p>
          </div>

          <!-- Billing history card-->
          <div class="card mb-4">
            <div class="card-header">Billing History</div>
            <div class="card-body p-0">
              <!-- Billing history table-->
              <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th class="border-gray-200" scope="col">Nombre</th>
                      <th class="border-gray-200" scope="col">Talla</th>
                      <th class="border-gray-200" scope="col">Precio</th>
                      <th class="border-gray-200" scope="col">Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of lstProducts">
                      <td>
                        #
                        <a routerLink="/product/{{ item.id }}">
                          {{ item.name }}</a
                        >
                      </td>
                      <td>{{ item.size }}</td>
                      <td>${{ item.price }}</td>
                      <td>
                        <span class="badge bg-light text-dark">{{
                          item.cantd
                        }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
