<nz-spin [nzSpinning]="isLoadingGeneral">


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a data-abc="true">
            <i class="fa fa-home"></i>
        </a>
    </li>
      <li class="breadcrumb-item"> Administración </li>
      <li class="breadcrumb-item active" aria-current="page"> Inventario </li>
    </ol>
  </nav>
  
    <br>
    
    
          <form>
    
            <div nz-row [nzGutter]="8">
              <div nz-col class="gutter-row" [nzSpan]="12"><div class="inner-box">
                <nz-form-item class="input-content" > 
                  <nz-form-control nzErrorTip="Campo requerido">
                    <nz-input-group nzPrefixIcon="user">
                      <input type="password" nz-input formControlName="password" placeholder="Busqueda por username, nombre o apellidos" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div></div>
      
            
              <div nz-col class="gutter-row" align="right"  [nzSpan]="12"><div class="inner-box">            
                <button class="btn btn-success"  (click)="generateExcel()" ><i class="fas fa-file-excel"></i>  Generar </button>
                </div></div>

            </div>
      
          </form>
    
            <!-- Table -->
        
        
          <nz-table  
          #fixedTable
          #headerTable
          [nzData]="data"
          [nzScroll]="{ y: '240px' }"
          nzShowPagination
          [nzPageSizeOptions]="[10, 20, 30]"
          nzShowSizeChanger
          [nzPageSize]="pageSize"
          [nzPageIndex]="current"
          [nzFrontPagination]="false"
          [nzTotal]="total"
          [nzLoading]="isLoadingTable"
          (nzPageSizeChange)="changePageSize($event)"
          (nzPageIndexChange)="changeCurrentPage($event)"
          >
          <thead>
            <tr>
              <th>ID</th>
              <th>Asunto</th>
              <th>Enviado</th>
              <th>Email</th>
              <th nzRight nzAlign="center" nzWidth="140px">Acciones</th>
            </tr>
          </thead>
            
          <tbody>
            <tr *ngFor="let data of headerTable.data">
              <td>{{ data.id }}</td>
              <td>{{ data.id }}</td>
              <td>{{ data.createAt | date: 'dd/MM/yyyy' }}</td>
              <td>{{ data.id }}</td>
              <td nzRight nzAlign="center">
                <nz-space>
                  <button nz-button nzShape="circle" nzType="text">
                    <i nz-icon nzTheme="twotone" (click)="openViewDrawer(data)" [nzTwotoneColor]="'#08a000'" nzType="eye"></i>
                  </button>
                  
                  <button nz-button nzShape="circle" nzType="text">
                    <i nz-icon nzTheme="twotone"  (click)="openEditDrawer(data)" [nzTwotoneColor]="'#a31600'" nzType="edit"></i>
                  </button>
  
  
                  <button nz-button nzShape="circle" nzType="text">
                    <i nz-icon nzTheme="twotone"  (click)="showDeleteConfirm(data)"  [nzTwotoneColor]="'#a31600'" nzType="delete"></i>
                  </button>
                </nz-space>
              </td>
        
            </tr>
          </tbody>
          </nz-table>
</nz-spin>


    <!-- View drawer -->

    <nz-drawer
    [nzWidth]="540"
    [nzClosable]="false"
    [nzVisible]="visibleDrawer"
    nzPlacement="right"
    nzTitle="Producto #20203"
    (nzOnClose)="closeViewDrawer()"
  >
    <ng-container *nzDrawerContent>
     <nz-spin [nzSpinning]="isLoadingDrawer">
    
      <nz-tabset>
        <nz-tab [nzTitle]="titleTemplate1">
          <ng-template #titleTemplate1>
            <i nz-icon [nzType]="'android'"></i>
            Nombre del tab 1
          </ng-template>
          Nombre del tab 1
        </nz-tab>
  
  
        <nz-tab [nzTitle]="titleTemplate2">
          <ng-template #titleTemplate2>
            <i nz-icon [nzType]="'android'"></i>
            Nombre del tab 2
          </ng-template>
          Nombre del tab 2
        </nz-tab>
  
  
        <nz-tab [nzTitle]="titleTemplate3">
          <ng-template #titleTemplate3>
            <i nz-icon [nzType]="'android'"></i>
            Nombre del tab 3
          </ng-template>
          Nombre del tab 3
        </nz-tab>
  
  
  
  
      </nz-tabset>
  
    
  
     </nz-spin>
    </ng-container>
  </nz-drawer>


  <!-- Edit drawer -->
 
  
  <nz-drawer
  [nzWidth]="540"
  [nzClosable]="false"
  [nzVisible]="visibleEditDrawer"
  nzPlacement="right"
  nzTitle="Editar producto #39393"
  (nzOnClose)="closeEditDrawer()"
>
  <ng-container *nzDrawerContent>
   <nz-spin [nzSpinning]="isLoadingDrawer">
  
    <nz-tabset>
      <nz-tab [nzTitle]="titleTemplate1">
        <ng-template #titleTemplate1>
          <i nz-icon [nzType]="'android'"></i>
          Nombre del tab 1
        </ng-template>
        Nombre del tab 1
      </nz-tab>


      <nz-tab [nzTitle]="titleTemplate2">
        <ng-template #titleTemplate2>
          <i nz-icon [nzType]="'android'"></i>
          Nombre del tab 2
        </ng-template>
        Nombre del tab 2
      </nz-tab>


      <nz-tab [nzTitle]="titleTemplate3">
        <ng-template #titleTemplate3>
          <i nz-icon [nzType]="'android'"></i>
          Nombre del tab 3
        </ng-template>
        Nombre del tab 3
      </nz-tab>




    </nz-tabset>

   </nz-spin>
  </ng-container>
</nz-drawer>

<!-- View producto modal -->



