<nz-spin [nzSpinning]="isLoadingGeneral">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a data-abc="true">
          <i class="fa fa-home"></i>
      </a>
  </li>
    <li class="breadcrumb-item"> Administración </li>
    <li class="breadcrumb-item active" aria-current="page"> Pedidos </li>
  </ol>
</nav>

  
  <form
  nz-form
  [nzLayout]="'vertical'"
  >  
    <div nz-row [nzGutter]="24">
      <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">
        <nz-form-item class="input-content" > 
          <nz-form-label [nzSpan]="6" nzFor="email"> Asunto </nz-form-label>
          <nz-form-control nzErrorTip="Campo requerido">
            <nz-input-group nzPrefixIcon="search">
              <input type="text" nz-input formControlName="password" placeholder="Busqueda por username, nombre o apellidos" />
            </nz-input-group>

          </nz-form-control>
        </nz-form-item>
      </div></div>

      <div nz-col class="gutter-row" align="right"  [nzSpan]="8"><div class="inner-box">            
        <nz-form-item class="input-content" > 
          <nz-form-label [nzSpan]="6" nzFor="email"> Mensaje </nz-form-label>
          <nz-form-control nzErrorTip="Campo requerido">
            <nz-input-group nzPrefixIcon="search">
              <input type="text" nz-input formControlName="password" placeholder="Busqueda por username, nombre o apellidos" />
            </nz-input-group>

          </nz-form-control>
        </nz-form-item>
      </div></div>

      
      <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">            
        <nz-form-item class="input-content" > 
          <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
          <nz-form-control nzErrorTip="Campo requerido">
            <nz-input-group nzPrefixIcon="search">
              <input type="text" nz-input formControlName="password" placeholder="Busqueda por username, nombre o apellidos" />
            </nz-input-group>

          </nz-form-control>
        </nz-form-item>
      </div></div>
        </div>
      
          <div nz-row [nzGutter]="8">

            <div nz-col class="gutter-row" align="left"  [nzSpan]="12"><div class="inner-box">            
            <button class="btn btn-success" (click)="generateExcel()" ><i class="fas fa-file-excel"></i>  Generar </button>
            </div></div>

            <div nz-col class="gutter-row" align="right"  [nzSpan]="12"><div class="inner-box">            
              <button class="btn btn-primary"> <i class="fas fa-search"></i>  Realizar busqueda </button>
              </div></div>
          </div>

        </form>   
  
        
      <br>
  
        <!-- Table -->
      
      
        <nz-table  
        #fixedTable
        #headerTable
        [nzData]="data"
        [nzScroll]="{ y: '240px' }"
        nzShowPagination
        [nzPageSizeOptions]="[10, 20, 30]"
        nzShowSizeChanger
        [nzPageSize]="pageSize"
        [nzPageIndex]="current"
        [nzFrontPagination]="false"
        [nzTotal]="total"
        [nzLoading]="isLoadingTable"
        (nzPageSizeChange)="changePageSize($event)"
        (nzPageIndexChange)="changeCurrentPage($event)"
        >
        <thead>
          <tr>
            <th>ID</th>
            <th>Asunto</th>
            <th>Enviado</th>
            <th>Email</th>
            <th nzRight nzAlign="center" nzWidth="140px">Acciones</th>
          </tr>
        </thead>
          
        <tbody>
          <tr *ngFor="let data of headerTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.id }}</td>
            <td>{{ data.createdAt | date: 'dd/MM/yyyy' }}</td>
            <td>{{ data.id }}</td>
            <td nzRight nzAlign="center">
              <nz-space>
                <button nz-button nzShape="circle" nzType="text">
                  <i nz-icon nzTheme="twotone" (click)="openViewDrawer(data)" [nzTwotoneColor]="'#08a000'" nzType="eye"></i>
                </button>
                
                <button nz-button nzShape="circle" nzType="text">
                  <i nz-icon nzTheme="twotone"  (click)="openEditDrawer(data)" [nzTwotoneColor]="'#a31600'" nzType="edit"></i>
                </button>


                <button nz-button nzShape="circle" nzType="text">
                  <i nz-icon nzTheme="twotone"  (click)="showDeleteConfirm(data)"  [nzTwotoneColor]="'#a31600'" nzType="delete"></i>
                </button>
              </nz-space>
            </td>
      
          </tr>
        </tbody>
        </nz-table>

</nz-spin>

      

    <!-- View drawer -->

    <nz-drawer
    [nzWidth]="540"
    [nzClosable]="false"
    [nzVisible]="visibleDrawer"
    nzPlacement="right"
    nzTitle="Mensaje"
    (nzOnClose)="closeViewDrawer()"
  >
    <ng-container *nzDrawerContent>
     <nz-spin [nzSpinning]="isLoadingDrawer">
    
      <nz-descriptions [nzColumn]="2" nzTitle="Asunto: {{viewOrder?.id}}">
        <nz-descriptions-item nzTitle="Enviado por " [nzSpan]="2">{{viewOrder?.id}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Fecha " [nzSpan]="2"> {{viewOrder?.createdAt | date: 'dd/MM/yyyy'}} </nz-descriptions-item>
        <nz-descriptions-item nzTitle="ID " [nzSpan]="2"> {{viewOrder?.id}} </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Mensaje" [nzSpan]="2">
          {{ viewOrder?.id }}
        </nz-descriptions-item>
      </nz-descriptions>
  
  
     </nz-spin>
    </ng-container>
  </nz-drawer>


  <!-- Edit drawer -->
 
  
  <nz-drawer
  [nzWidth]="540"
  [nzClosable]="false"
  [nzVisible]="visibleEditDrawer"
  nzPlacement="right"
  nzTitle="Cambiar estatus"
  (nzOnClose)="closeEditDrawer()"
>
  <ng-container *nzDrawerContent>
   <nz-spin [nzSpinning]="isLoadingDrawer">
  
    <nz-tabset>
      <nz-tab [nzTitle]="titleTemplate1">
        <ng-template #titleTemplate1>
          <i nz-icon [nzType]="'android'"></i>
          Nombre del tab 1
        </ng-template>
        Nombre del tab 1
      </nz-tab>


      <nz-tab [nzTitle]="titleTemplate2">
        <ng-template #titleTemplate2>
          <i nz-icon [nzType]="'android'"></i>
          Nombre del tab 2
        </ng-template>
        Nombre del tab 2
      </nz-tab>

    </nz-tabset>

   </nz-spin>
  </ng-container>
</nz-drawer>



    
      