
<div class="footer">
    <div class="inner-footer">
  
  <!--  for company name and description -->
      <div class="footer-items">
        <h1> Cotta Store </h1>
        <p>Productos acorde a tus necesidades.</p>
      </div>
  
  <!--  for quick links  -->
      <div class="footer-items">
        <h3>Quick Links</h3>
          <ul>
            <a href="#"><li>Página principal</li></a>
            <a href="#"><li>Aviso de privacidad </li></a>
            <a href="#"><li>Contacto</li></a>
            <a href="#"><li>Acerca de nosotros</li></a>
          </ul>
      </div>
  
  <!--  for some other links -->
      <div class="footer-items">
        <h3>Tiendas</h3>
          <ul>
            <a href="#"><li>Cd. del Carmen, Campeche</li></a>
            <a href="#"><li>Valladolid, Yucatan</li></a>
            <a href="#"><li>Homun, Yucatan</li></a>
            <a href="#"><li>Mérida, Yucatan</li></a>
          </ul>
      </div>
  
  <!--  for contact us info -->
      <div class="footer-items">
        <h3>Contact us</h3>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Soporte Cotta</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>999-929-3003</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>contact@cotta-store.mx</li>
          </ul> 
        
  <!--   for social links -->
          <div class="social-media">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-google-plus-square"></i></a>
          </div> 
      </div>
    </div>
    
  <!--   Footer Bottom start  -->
    <div class="footer-bottom">
      Copyright &copy; Cotta Store 2021.
    </div>
  </div>

  