
@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import "~angular-notifier/styles";

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}



span.carousel-control-prev-icon {
  padding: 10px;
  margin: 10px;
  background-color: #333;
}

span.carousel-control-next-icon {
  padding: 10px !important;
  margin: 10px !important;
  background-color: #333;
}


a.logo { 
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}


html{
  scroll-behavior:smooth;
}

header,
section {
  overflow-x: hidden;
}

td {
  cursor: pointer;
}

.breadcrumb {
  background-color: transparent !important;
}

