<div class="col-md-4">
    <figure class="card card-product-grid">
        <div class="img-wrap"> 
                            <img src="http://bootstrap-ecommerce.com/bootstrap-ecommerce-html/images/items/7.jpg" class="img-fluid">
            <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
        </div> <!-- img-wrap.// -->
        <figcaption class="info-wrap">

            
            <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
            <h6 class="card-subtitle text-muted">Style: VA33TXRJ5</h6>
            <p class="card-text">
              The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the elements whilst still looking cool.             </p>

            <div class="fix-height">
                <div class="price-wrap">
                    <span class="price">$1280</span>
                    <span class="price"> <s>$1980</s> </span>
                </div> <!-- price-wrap.// -->
            </div>

            <a href="#" class="btn btn-block btn-primary">Ver mas detalle </a>	
        </figcaption>
    </figure>
</div> <!-- col.// -->
