<div class="container-pro">
    <nz-result
      nzStatus="error"
      nzTitle="La compra y el pago se realizo con exito!"
      nzSubTitle="Número de pedido: 2017182818828182881, Cotta agradece tu compra y en breve estaremos dando mas informes acerca de tu pedido."
    >
    
    <div nz-result-content>
      <div class="desc">
        <h4 nz-title>The content you submitted has the following error:</h4>
        <p nz-paragraph>
          <i nz-icon nzType="close-circle"></i>
          Your account has been frozen
          <a>Thaw immediately &gt;</a>
        </p>
        <p nz-paragraph>
          <i nz-icon nzType="close-circle"></i>
          Your account is not yet eligible to apply
          <a>Apply immediately &gt;</a>
        </p>
      </div>
    </div>
    <div nz-result-extra>
      <button nz-button nzType="primary">Go Console</button>
      <button nz-button>Buy Again</button>
    </div>
    

    </nz-result>
  </div>
  