<div class="layout">

    <div class="header-statistic">

        <div>
            <nz-row [nzGutter]="16">
               
                <nz-col [nzSpan]="8" class="element-statistic">
                    <nz-statistic [nzValue]="(1949101 | number)!" [nzTitle]="'Active Users'"></nz-statistic>
                </nz-col>  

                <nz-col [nzSpan]="8" class="element-statistic">
                  <nz-statistic [nzValue]="(2019.111 | number: '1.0-2')!" [nzTitle]="'Account Balance (CNY)'"></nz-statistic>
                </nz-col>

                <nz-col [nzSpan]="8" class="element-statistic">
                    <nz-statistic [nzValue]="(2019.111 | number: '1.0-2')!" [nzTitle]="'Account Balance (CNY)'"></nz-statistic>
                  </nz-col>
  

                
           </nz-row>
        </div>

        <div class="element-statistic"> 
            
        </div>
        
        <div class="element-statistic"> 
            
        </div>

    </div>

    <div class="charts-statistic">
        
        <div class="chart-statistic">  </div>

        <div class="chart-statistic">  </div>
        
        <div class="chart-statistic">  </div>

    </div>



</div>

